@import "vars";


body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #85ba94;
}

header {
    font-size: 36px;
    text-align: center;
    padding: 30px;
    height: 120px;
    color: white;
}

nav{
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #070102;
}

li {
    float: left;
    padding: 10px;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #1521cc;
}

main {
    margin: 20px;
    font-size: 16px;
    text-align: center;
}

main  a {
    padding: 5px;
    text-align: center;
}

main h2{
    padding-bottom: 20px;
}

h2 {
    text-align: center;
    font-size: 32px
}

.pagination {
    padding: 20px;
}


