{% extends 'base/base.html' %}

{% block content %}
<div class="pagination">
  <span class="step-links">
    {% if kickerstarters.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ kickerstarters.previous_page_number }}">previous</a>
    {% endif %}
    
    <span class="current">
      Page {{ kickerstarters.number }} of {{ kickerstarters.paginator.num_pages }}.
    </span>
    
    {% if kickerstarters.has_next %}
    <a href="?page={{ kickerstarters.next_page_number }}">next</a>
    <a href="?page={{ kickerstarters.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>


<h2>Welcome to the site! Check out our reviews!</h2>
{% for kickstarter in kickstarters %}
<a href="{% url "kickstarter_detail" pk=kickstarter.id %}">
  <h3>Name: {{ kickstarter.name }}, Category: {{ kickstarter.category }}</h3>
</a>
{% endfor %}

{% endblock content %}